
{% include 'ukieri/header.html' %}


<table><h2><center>CREDIT</center></h2>
	<tr>
		<th><div class="span-16"> 
				<strong>Contributors </strong>
				<th><div class="span-16"> 
				<strong>Language and Tool Used:</strong><br/></td>
				
					<tr><td>         Jagdeep Singh Malhi<br/>
                                    
                                   <b>Email :</b> jagdeepmalhiATgndec.ac.in (replace AT by @)  <br/>  				
				   <br>				   <strong>Under Guidence</strong><br/>
                                  Dr. H. S. Rai</td>
                                    <td> Python<br/>Django<br/>Css<br/>JavaScript<br/>Html</td>
	
	  </table>
{% include 'ukieri/footer.html' %}

