
{% include 'ukieri/header.html' %}
<br>
<table> <caption>Exhibitors<caption>
<tr><th>Name<th>Info<th>Contact<th>Website</tr>
<tr><td>Pidilite Industries Ltd</td><td>Pidilite Industries Limited has been a pioneer in consumer and specialties chemicals in India. Its product
range includes adhesives and sealants, construction and paint chemicals, automotive chemicals, art
materials, industrial adhesives, industrial and textile resins and organic pigments and preparations. Its
Construction Chemicals Division of Pidilite offers a range of products for applications in waterproofing,
repair and rehabilitation of structures. It also offers a host of other product solutions for exterior coatings,
sealants, concrete admixtures, floorings and grouts. In India, it operates under two brands – Dr. Fixit, which
provides predominantly waterproofing solutions, and Roff, which offers tile fixing solutions. In recent times,
Pidilite Industries Ltd. has achieved a dominant / leading position in the construction chemicals industry
and has attained leadership in the retail segment. Pidilite established its R&D centers (in India & Singapore),
having state‐of‐the‐art facilities. Some of the prestigious projects undertaken by Dr. Fixit include Fortis
Hospital (Noida), DLF IT Park (Chennai), the Pan Pacific (Singapore), World Trade Centre and Discovery
Garden (Dubai).</td><td>Ramkrishna Mandir Road, Andheri (E). 400 059<br>
Swapnil R Deshmukh, Rajeevv Gupta (Delhi)</td><td>Email: drfixit@pidilite.com<br>  www.pidilite.com</td></tr>
</table>

{% include 'ukieri/footer.html' %}

